<aside class="main-sidebar dark-bg">
  <section class="sidebar">
    <div class="user-panel black-bg">
      <div class="pull-left image"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Ahmet Tekin</p>
        <a href="/Default/Index"><i class="fa fa-circle"></i> Siteye Dön</a></div>
    </div>
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header dark-bg">Menu</li>
      <li><a href="/Admin/Category/Index"> <i class="fa fa-th"></i> <span>Categories</span></a></li>
      <li><a href="/Admin/Product/ProductListWithCategory"> <i class="fa fa-th"></i> <span>Products</span></a></li>
      <li><a href="/Admin/AdminSlider/Index"> <i class="fa fa-th"></i> <span>Slider</span></a></li>
      <li><a href="/Admin/AdminSpecialDiscount/Index"> <i class="fa fa-th"></i> <span>Special Discount</span></a></li>
      <li><a href="/Admin/Feature/Index"> <i class="fa fa-th"></i> <span>Feature</span></a></li>
      <li><a href="/Admin/OfferDiscount/Index"> <i class="fa fa-th"></i> <span>Offer Discount</span></a></li>
    </ul>
    <!-- sidebar-menu -->
  </section>
</aside>    
