@model MultiShop.Dto.CatalogDtos.FeatureDtos.UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12" style="float: right">
                <div class="chart-box">
                    <h4>Update Feature</h4>
                    <p>
                        You can update feature here.
                    </p>
                    <div class="bs-example" data-example-id="simple-table">
                        <form method="post">
                            <input type="hidden" asp-for="FeatureId"/>
                            <label>Feature Title</label>
                            <input type="text" class="form-control" placeholder="Feature Title" asp-for="Title">
                            <br/>
                            <label>Feature Icon</label>
                            <input type="text" class="form-control" placeholder="Slider Description" asp-for="Icon">
                            <br/>
                            <button type="submit" class="btn btn-primary">Update Feature</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

