@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    @await Component.InvokeAsync("_HeaderPartial")
    <body>
        @await Component.InvokeAsync("_TopbarPartial")
        @await Component.InvokeAsync("_NavbarPartial")
        @RenderBody()
        @await Component.InvokeAsync("_FooterPartial")
        @await Component.InvokeAsync("_ScriptPartial")
    </body>
</html>